.main-container {
	background-color: antiquewhite;
	padding: 100px;
	height: 800px;
	display: flex;
	justify-content: center;
	gap: 100px;
}

.library {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(2, 300px);
	grid-auto-rows: 300px;
	gap: 10px;
}

.book {
	padding: 20px;
	background-color: aliceblue;
}