* {
	margin: 0px;
	padding: 0px;
}

.main-container {
	background-color: antiquewhite;
	padding: 100px;
	height: 800px;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.library {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.book, .table-header {
	height: 50px;
	background-color: rgb(199, 151, 28);
	border: 1px solid black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.book > p, .table-header > p {
	flex: 1;
	border: 1px solid black;
	text-align: center;
	height: 100%;
}

.table-header > p {
	font-weight: bold; 
}